<!DOCTYPE html>
<html>
<head>
    <title>Fish Species Prediction</title>
</head>
<body>
    <h1>Fish Species Prediction</h1>
    <form action="/predict" method="post">
        <label for="weight">Weight (g):</label>
        <input type="text" id="weight" name="weight"><br>
        
        <label for="length1">Vertical Length (cm):</label>
        <input type="text" id="length1" name="length1"><br>
        
        <label for="length2">Diagonal Length (cm):</label>
        <input type="text" id="length2" name="length2"><br>
        
        <label for="length3">Cross Length (cm):</label>
        <input type="text" id="length3" name="length3"><br>
        
        <label for="height">Height (cm):</label>
        <input type="text" id="height" name="height"><br>
        
        <label for="width">Width (cm):</label>
        <input type="text" id="width" name="width"><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>
